@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --imgHeight: 120px;
  --imgWidth: 180px;
  --imgMaxWidth: 200px;
  --btnLeft: 15px;
  --btnBottom: 35px;
  --imgSpace: 5px;
  --btnWidth: 40px;
  --btnHeight: 40px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90px;
  background-size: cover;
  background-color: rgba(100, 150, 200, 0.2);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid white;
}

.search-form input {
  padding: 10px 10px;
  background: transparent;
  border-radius: 10px 0 0 10px;
  border: 0;
  color: black;
}

.search-form input:focus {
  outline: 0;
  background: transparent;
}

.search-form button {
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border-radius: 0 10px 10px 0;
  border: 0;
  border-left: 1px solid white;
  color: white;
}

.search-form button:hover {
  background: white;
  border-radius: 0 9px 9px 0;
  color: gray;
}

.search-form button:active {
  box-shadow: 0px 0px 12px 0px rgb(225, 225, 225);
}

.search-form button:focus {
  outline: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .photo-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: var(--imgMaxWidth);
  margin: var(--imgSpace);
  border-radius: var(--imgSpace);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 var(--imgSpace) var(--imgSpace) rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.gallery .photo-card .gallery-item {
  max-width: var(--imgMaxWidth);
}

.gallery .photo-card .gallery-item img {
  width: var(--imgWidth);
  height: var(--imgHeight);
  object-fit: cover;
  border-radius: var(--imgSpace);
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.gallery .photo-card .gallery-item:hover img {
  transform: scale(1.2);
}

.info {
  display: flex;
  justify-content: space-around;
  gap: var(--imgSpace);
  color: gray;
}

.info__box {
  max-width: 50px;
  text-align: center;
  line-height: 0.2em;
  font-size: 0.7em;
}

.btn-container {
  position: relative;
  height: 100%;
  bottom: -110px;
}

.btn-container .load-more,
.btn-container .close-btn {
  position: absolute;
  width: var(--btnWidth);
  height: var(--btnHeight);
  right: 20px;
  background: white;
}

.btn-container .load-more:hover {
  color: white;
  background: blue;
  border: 1px solid blue;
  cursor: pointer;
}

.btn-container .close-btn:hover {
  color: white;
  background: red;
  border: 1px solid red;
  cursor: pointer;
}

.btn-container .load-more {
  bottom: var(--btnBottom);
  left: var(--btnLeft);
  border: 1px solid blue;
  color: blue;
}

.btn-container .close-btn {
  bottom: var(--btnBottom);
  border: 1px solid red;
  color: red;
}

.hint {
  position: fixed;
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  font-size: 12px;
  color: gray;
  background: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}